# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
/bottle
/node_modules/
/static/js/angular-*
/static/js/introspector/default.js~
/static/js/angular/
/static/js/animate.css/
/static/js/bootstrap/
/static/js/d3/
/static/js/fontawesome/
/static/js/hide/
/static/js/jquery-ui/
/static/js/jquery/
/static/js/jslint/
/static/js/json-editor/
/workspace/
/v/ #virtual env
/static/js/ace-builds
/static/css/introspector.css~
/static/js/JSONedit/.bower.json
/static/js/JSONedit/.gitignore
/static/js/JSONedit/LICENSE
/static/js/JSONedit/README.md
/static/js/JSONedit/bower.json
/static/js/JSONedit/bower_components/angular-ui-sortable/bower.json
/static/js/JSONedit/bower_components/angular-ui-sortable/sortable.min.js
/static/js/JSONedit/bower_components/angular/README.md
/static/js/JSONedit/bower_components/angular/angular.min.js
/static/js/JSONedit/bower_components/angular/angular.min.js.map
/static/js/JSONedit/bower_components/angular/bower.json
/static/js/JSONedit/bower_components/bootstrap/LICENSE
/static/js/JSONedit/bower_components/bootstrap/README.md
/static/js/JSONedit/bower_components/bootstrap/bower.json
/static/js/JSONedit/bower_components/bootstrap/package.json
/static/js/JSONedit/bower_components/jquery-ui/MIT-LICENSE.txt
/static/js/JSONedit/bower_components/jquery-ui/README.md
/static/js/JSONedit/bower_components/jquery-ui/bower.json
/static/js/JSONedit/bower_components/jquery-ui/jquery-ui.min.js
/static/js/JSONedit/bower_components/jquery-ui/package.json
/static/js/JSONedit/bower_components/jquery/MIT-LICENSE.txt
/static/js/JSONedit/bower_components/jquery/bower.json
/static/js/JSONedit/css/styles.css
/static/js/JSONedit/js/directives.js
/test.py
/v/bin/activate
/v/bin/activate.csh
/v/bin/activate.fish
/v/bin/activate_this.py
/v/bin/bottle.py
/v/bin/easy_install
/v/bin/easy_install-2.7
/v/bin/manage-pdb
/v/bin/pdb
/v/bin/pip
/v/bin/pip2
/v/bin/pip2.7
/v/bin/python
/v/bin/python2
/v/bin/python2.7
/v/include/python2.7
/v/local/bin
/v/local/include
/v/local/lib
/static/js/introspector/controllers/#source.js#
/static/js/introspector/controllers/.#source.js
/static/scripts
/static/views/#source.html#
/static/views/.#source.html
/static/views/scripts
